*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
}
header nav{ 
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: rgba(118, 130, 241, 0.8);

}

header nav ul li{
    color: white;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
    
}


header nav ul li:hover{
    background: rgb(0,0,0,0.2);

}


.tituloHorario{
    text-align: center;

}

.tituloHorario h3{
    font-size: 15px;
    font-family: cursive, sans-serif;
}

table,td {
	border: 1px solid black;
}

body{
    background-color: whitesmoke;
    max-width: 1300px;
    margin: 0 auto;
    
}
.matutino{
    margin: 0 auto;
    display: table;

}
.despertino{
    margin: 0 auto;
    display: table;
}



form {
    border: 3px solid #f1f1f1;
  }
  

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  

  button:hover {
    opacity: 0.8;
  }

  #registro {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .container {
    padding-top: 50px;
    max-width: 600px;
    margin: 0 auto;
    
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
.crearUser h2{
    text-align: center;
}
.crearUser{
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    
  }
}

.horarios{
    display:block;
}
.login{
    display:none;
}
.crearUser{
    display:none;
}

