<% include partials/head %>

<title>Error 401</title>
<link rel="stylesheet" href="/css/style2.css" type="text/css">
</head>
<body class="content-error">

    <div class="image_error e404"></div>
    <br>
    <button type="button" class="btn btn-danger">Volver al Inicio</button>
        
</body>