<% include partials/head %>

<title>Error 408</title>
<link rel="stylesheet" href="/css/style2.css" type="text/css">
</head>
<body class="content-error">

    <div class="image_error e408"></div>
    <error statusCode="408" path="error_408.html" />
    <br>
    <h3>Eso no debería haber pasado. La página que ha solicitado no existe.</h3>
    <button type="button" class="btn btn-danger">Volver al Inicio</button>
        
</body>