<% include partials/head %>

<!DOCTYPE html>
<html lang=&quot;es&quot;>
     <head>
		<meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot; />
		<meta name=&quot;description&quot; content=&quot;Esta Tienda está desarrollada con PrestaShop&quot; />
        <link rel="stylesheet" href="/css/style_error.css">
        <title>Error 500</title>
    </head>
    <body>
        <div class=&quot;container&quot;>
            <h2><span>500</span>No se muestra el recurso solicitado</h2>
            <error statusCode="500" path="error_500.html" />
            <p>¡Vaya! Algo salió mal.<br /><br />Trata de volver a cargar esta página.</p>
            <button type="button" class="btn btn-danger">Volver al Inicio</button>
        </div>
    </body>
</html>