<% include partials/head %>

<title>Error</title>
<link rel="stylesheet" href="/css/style2.css" type="text/css">
</head>
<body id="content-error">
    <div id="description-error">
        <h1>Oh no!</h1>
        <h2 id="type_error">Error </h2>
        <p id="text_error"></p>
        <div id="image_error"></div>
    </div>    
</body>