<% include partials/head %>
<title>Inicio</title>
<link rel="stylesheet" href="/css/style2.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span> Iniciar sesion o registrarse</h1>
                <a href="/login" class="btn btn-light">
                    <span class="fa fa-user"></span> Iniciar sesion
                </a>
                <a href="/signup" class="btn btn-light">
                    <span class="fa fa-user"></span> Registrarse
                </a>
            </div>
        </div>
    </div>
</body>
</html>