<% include partials/head %>
<title>Perfil</title>
</head>
<body>
  <% include partials/navbar %>
  <div class="container">
    <br>
    <h1 class="text-center text-uppercase">Perfil</h1>
    <hr>
    <div class="container">
      <div class = "row">
        <div class="col-sm-6 mx-auto">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title text-uppercase"><span class="fa fa-address-card"></span> bienvenido </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/inicio.js"></script>
</html>